language: node_js
node_js:
  - lts/dubnium
  - node
after_script: bash <(curl -s https://codecov.io/bash)
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: Dc/5DvsDZzR53SdDUw9TTsIb+tVgG3ydOfGb73NF5vA24c3hO2LtPgiPFBiuUsPCZc1XcV0LSfmL9VqzepQrhJ1tu83FRfNnTOtzSYegXhTy8s5YjMIE0mGE2nbOSU3k0D05PBh7yTJWgmRrK6gILj82aBb/W2QjNjUPggwWHBbDAmUUOtGv6iq0LQ5A8WHJ2n8SjCI7qqYkmlcL19Gmu0A2X5Srv+RCjrfUESQPt+GaadWRj+8ewdt1LtYm3UuOy0yyK3BcplqDF3KScZlFvQGJmasNYGMa+dAwvqp+IFQ5uGBvQ+zNhbbRLhLvc9xxpRCZstva1NbTaU1oxPl8q3S6ro0lI1fjkQr/kpEwfTfw1wDnssWT0X76t3Vpa1A6XVv+kTNvSyns/7iuLpw7iftLLd45klF4LbCCJmCBPoPms2oHabHgGp4xh6cuUqj/QVx1/xv429qd51l1AgLZkqLK7mTyY/3iabLDAEQc9/4JSyTnXH9UTLz/Ega0PKtX/Gp0otH9C2HHV7jw7rEwI3aQfObjBCKxa2t3wNJnCWb62RAazb3OOUMZL6RsROAKFj+pd/6FHYyFzt0qUa1EiYA65eKBWHbEETE7Xw5DFuxY+kyWCH05yOoluZYAXUIO5utPTGERTxdkM0ye4Jw7pusojayM3svgjX02M1Zzt8I=
  file:
    - 'remark-frontmatter.js'
    - 'remark-frontmatter.min.js'
  on:
    tags: true
